@charset 'utf-8';

@import 'normalize-rails';
@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

.container {
  width: 75%;
  margin: 2.0em auto;
  h3 {
    margin: 0 0 1.0em 0;
  }
}